/*Quote Start*/
@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.quote {
    padding: $section-padding 0;
    background-image: url("../media/images/quote.jpg");
    background-size: cover;
    position: relative;

    .text {
        position: relative;
        z-index: 1;
        color: white;
        text-align: center;

        p:first-child {
            font-size: 1.875rem;
            margin-bottom: 1.25rem;

            & + p {
                margin-top: 1.25rem;
            }
        }
    }

    &::before {
        content: "";
        @include overlay;
    }
}
/*Quote End*/