/*Stats Start*/
@use "../helpers/variables" as *;
@use "../helpers/mixins" as *;

.stats {
    padding: $section-padding 0;
    background-image: url("../media/images/stats.png");
    background-size: cover;
    position: relative;

    .stats__boxes {
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        .box {
            color: white;
            padding: 3.125rem;
            background-color: $transparent-color;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.875rem;
            z-index: 1;

            i {
                width: 40px;
                height: 40px;
                align-items: center;
                background-color: black;
                border-radius: 50%;
                display: flex;
                justify-content: center;
            }

            .number {
                font-size: 3.125rem;
                font-weight: bold;

            }

            p {
                font-size: 0.875rem;
            }
        }
    }

    &::before {
        content: "";
        @include overlay;
    }
}
/*Stats End*/