/*Global Rules Start*/
// scss/helpers/_global.scss
@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: $main-font;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;


  // Start Media query
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
      max-width: 540px;
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
      max-width: 720px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
      max-width: 960px;
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
      max-width: 1140px;
  }
}
// End Media query
/*Global Rules End*/