// scss/helpers/_variables.scss

// Colors
$main-color: #19c8fa;
$transparent-color: rgba(15, 116, 143, 0.7);
$text-color: #777;
$dark-background: #1f2021;
$light-background: #fcfcfc;
$white: #fff;
$black: #000;

// Fonts
$main-font: "Open Sans", sans-serif;

// Spacing
$section-padding: 6.25rem;